<div id ="searchQuery">

    <h1>aqui estamos</h1>
<form action="/artist-search" , method="get">
<label for="artist">introduce el artista</label>
<input name="artist" type="text">
<button id="artist" type="submit">Search</button>
</form>


</div>